

<h1>All comments for "<%= @attraction.name %> </h1>

<% @comments.each do |comment| %>

    <div class="comment group">
  
        <%= comment.comment %>
      
      <cite><%= comment.user.usernaame %>

    </div>

  <% end %>

</div>

<h2>Post a comment</h2>

<%= form_for([@attraction, @comment]) do |f| %>

  <%= render 'shared/error_list', model: @comment %>

  <div class="field">
    <%#= f.label :content %>
    <%= f.text_area :comment, rows: 5, placeholder: "Add your comment here" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
